<!DOCTYPE html>
<html>	
<header>
  	<style type="text/css">
  		header {
  			background-color: #000000;
  			color: #990000;
  			height: 30px;
			margin-top: 15px;

  			box-shadow: 0 1px 2px #fff, /*bottom external highlight*/
  						0 -1px 1px #666, /*top external shadow*/ 
  						inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  						inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
  		}
  		
    	#subnav {
  			box-shadow: 0 1px 2px #fff, /*bottom external highlight*/
  						0 -1px 1px #666, /*top external shadow*/ 
  						inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  						inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
    	}
  		
  		#devNote {
		  	color: #FFFFFF;
		  	font-size: 14px;
		  	text-align: center;
		  	position:absolute;
		  	bottom: 0;
		  	width: 100%;
		  }
		  
		#clock {
		  	color: #FFFFFF;
		  	font-family: Papyrus, fantasy;
		  	padding-top: 7px;
		  	font-weight: 800;
		}
  		
  		#logo {
  			font-family: Papyrus, fantasy;
  			font-weight: 800;
  			margin-top: 3px;
  		}
  		
  		header div {
  			float: left;
  			margin-left: 20px;
			font-family: fantasy;
			padding-top: 5px;
  		}
  			
		nav {
			width: 910px;
  			background-color: transparent;
  			height:30px;
  			text-align: center;
  			margin: 0 auto;
  			vertical-align: middle;
  		} 
  			
  		nav ul, nav li {
  			list-style: none; /* Didn't change anything */
  		}

		nav ul { /* First Level */
			position: relative; /* Didn't change anything */
			z-index: 597;
			float:left;
			
  			font-size: 14px;
  			margin: 0 auto;
  			padding: 0;
  			list-style: none;
  			text-align: center;
  			}
  		
 		nav ul li { /* First Level Positions*/
  			float: left; /* Arranges first Level from left to right */
  			height:30px;
  			width:100px;
  		}

		nav ul ul ul {
			left: 100%;
			top: 0;
		}
  		
 		nav li ul { 
  			display: none;
  		}
  		
		nav ul li a {
  			display: table-cell; /*table-cell used instead of block*/
  			text-decoration: none;
  			background: transparent;
  			color: #ffffff;  
  			margin: 0 auto;
  			white-space: nowrap;
  			height:30px;
  			width:100px;
  			text-align:center;
  			vertical-align: middle;}
  		
  		nav ul li:hover, nav ul li.hover { /* Didn't change anything */ 
  			position: relative; 
  			z-index: 599;
  			cursor:default;
  		}
  		
		nav ul li a:hover { 
  			background: #990000;
  			color: #FFFFFF
  		}
  		
		nav li:hover ul { /* Visibility of nested list items. */
  			display: inline;
  		}
  		
  		nav li li ul {
  			visibility: hidden;
  		}
  		
  		nav li li:hover ul{
  			visibility: visible;
  		}
  		
		nav li li {
			float : none;
		}
		
nav ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}

nav ul li:hover > ul {
  visibility: visible;
}
  		
 		nav li:hover li {
  			float: none;
  			font-size: 11px;}
  		
		nav li:hover a { 
  			background: #2E2F30; 
  			box-shadow: 0 1px 2px #fff, /*bottom external highlight*/
  						0 -1px 1px #666, /*top external shadow*/ 
  						inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  						inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
  		}

		nav li:hover li a:hover {
  			background: #990000;
  		}
  		  		
	</style>
	<div id="logo">| Aven's Den |</div>
	<nav style="position: relative; z-index: 10;">
    	<ul>	
     		<li><a href="/">Home</a></li>
      		
      		<li ><a href="/construction">Games</a>
        		<ul>
            		<li id="subnav"><a href="/construction">League of Legends</a>
            			<ul>
            				<li><a href="/games/league-of-legends/team">Silent Edge</a></li>
            				<li><a href="/construction">Tools</a></li>
            			</ul>
            		</li>
            		<li id="subnav"><a href="/construction">Starcraft 2</a></li>
            		<li id="subnav"><a href="/construction">Minecraft</a></li>
            		<li id="subnav"><a href="/construction">Playthroughs</a></li>
        		</ul>
      		</li>
      		
      		<li><a href="/stream">Stream</a></li>
      		
      		<li><a href="/construction">Projects</a>
        		<ul>
            		<li><a href="/construction">Project Icebox</a></li>        			
            		<li><a href="/construction">Archived Projects</a></li>
        		</ul>
      		</li>
      		
      		<li><a href="/construction">Tutorials</a>
        		<ul>
            		<li><a href="/construction">Game Guides</a></li>        			
            		<li><a href="/construction">Code School</a></li>
            		<li><a href="/construction">Underground</a></li>
        		</ul>
      		</li>

      		<li><a href="/construction">About Me</a>
        		<ul>
            		<li><a href="/construction">Facebook</a></li>        			
            		<li><a href="/construction">LinkedIn</a></li>
            		<li><a href="/construction">GitHub</a></li>            		
        		</ul>
      		</li>
      		
      		<li><a href="/construction">Affiliates</a>
      			<ul>
      				<li id="subnav"><a href="/construction">Geek City Sirens</a>
      					<ul>
      						<li><a href="http://geekcitysiren.wix.com/geekcitysirens">Home Page</a></li>
      						<li><a href="https://www.facebook.com/geekcitysirens">Facebook</a></li>
      					</ul>
      				</li>
      			</ul>
      		</li>
      		
      		<li><a href="/feedback">Feedback</a></li>
      			
      		<li>
      			<body onload="startClock()">
      				<div id="clock">
						<script>
							function startClock(){
								var date = new Date();
								var hours = date.getHours();
								var minutes = date.getMinutes();
								var seconds = date.getSeconds();
								var ampm = '';
								if(hours < 12){
									ampm = 'AM';
								} else {
									hours = hours - 12;
									ampm = 'PM';
								}					
								minutes = checkTime(minutes);
								document.getElementById('clock').innerHTML = hours + ':' + minutes + ampm;
								setTimeout(function(){startClock()},500);
							}
							
							function checkTime(i){
								if (i<10){
								  i="0" + i;
								}
								return i;
							}
						</script>
					</div>
				</body>
			</li>     
    	</ul>
	</nav>
</header>
	<head>
		<title>
			Aven's Den | <%= yield(:title) %>
		</title> 
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
  	</head>
  	
  <body>
  	  	<style type="text/css">
  	  		body {
  	  			background-image: url('/assets/BG.jpg');
  	  		}
  	  	</style>
    <%= yield %>
  </body>
  
<footer>
  <h1 id="devNote">This site is a current Ruby on Rails project being developed for learning purposes.</h1>
</footer>
  
</html>